<div id="main">
	<h1><%= title %></h1><p>Anonymous web-chat</p>
	<div id="usersonline">0</div>
	
	<div id="conversationbox"></div>
	
	
	<div id="inputarea">
		<textarea rows="2" cols="88" id="textbox" type="text" title="Type message here. (Press enter to send.) 140 character limit."size=""></textarea> <div id="lettercount">-140</div>
	</div>
</div>
